#--------------------------------------------------------------------
# Example Environment Configuration file
#
# Copy this file to .env and adjust the settings to your local configuration.
#--------------------------------------------------------------------

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 'http://localhost:8080'
# app.forceGlobalSecureRequests = false
# app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = ticketly
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
# database.default.DBPrefix =
# database.default.port = 3306

#--------------------------------------------------------------------
# ENCRYPTION & JWT
#--------------------------------------------------------------------

# encryption.key =
JWT_SECRET_KEY = your_jwt_secret_key_here

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------

# session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
# session.savePath = null

#--------------------------------------------------------------------
# COOKIE
#--------------------------------------------------------------------
cookie.secure = false

#--------------------------------------------------------------------
# LOGGER
#--------------------------------------------------------------------

# logger.threshold = 4

#--------------------------------------------------------------------
# EMAIL CONFIGURATION
#--------------------------------------------------------------------
email.fromName    = 'Ticketly System'
email.fromEmail   = 'noreply@example.com'
email.protocol    = 'smtp'
email.SMTPHost    = 'smtp.mailtrap.io'
email.SMTPUser    = 'your_smtp_user'
email.SMTPPass    = 'your_smtp_password'
email.SMTPPort    = 2525
email.SMTPCrypto  = 'tls'
email.mailType    = 'html'
